/* ===================================================
 global scrollbar
==================================================== */
// ::-webkit-scrollbar{
//   width:6px;
//   height: 6px;
// }

// ::-webkit-scrollbar-track{
//   background: #fff;
//   border-radius: 2px;
// }
// ::-webkit-scrollbar-thumb{
//     background: #dadada;
//     border-radius: 6px;
//   }
// ::-webkit-scrollbar-thumb:hover{
//   background: #bfbfbf;
// }
// ::-webkit-scrollbar-corner{
//   background: #fff;
// }

// body scroll disable
body.disable-scroll {
  overflow: hidden;
  // padding-right: 6px;
}

.basic-table {
  font-size: 1.2rem;
  .el-table__header-wrapper {
    tr th {
      font-weight: bold;
      background: $light-grey;
    }
  }
  .el-table__body-wrapper {
    tr td {
      .operation {
        cursor: pointer;
      }
      .operation + .operation {
        margin-left: 10px;
      }
    }
  }
}