/* ===================================================
 color variables
==================================================== */
$color: #000;
$primary: #e74315;
$orange: #ff7500;
$white: #fdfdfd;
$black: #000;
$light-black: #191919;
$dark: #333;
$grey: #a29c9c;
$light-grey: #eee;
$slight-grey: #e2e2e2;

/* ===================================================
 scale variables
==================================================== */
$header: 60px;
$footer: 115px;
$footer-small: 100px;